p {
    color:red;
    font-style:italic;
    text-align:center;
}

h1 {
    color:white;
    text-align:center;
}

a {
    color:blue;
    text-align:center;
    font-style: oblique;
}

body {
    background-color: green;
}